.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-background: rgb(255, 255, 255);
}

.button:hover {
    -fx-text-fill: rgb(255, 101, 48);
    -fx-border-color: rgb(255, 101, 48);
    -fx-border-radius: 5;
}

.combo-box .cell:selected {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background: rgb(255, 101, 48);
}

.menu-bar {
    -fx-background-color: rgb(255, 101, 48);
}

.title-label {
    -fx-font-size: 16pt;
    -fx-font-family: "Arial";
}

.result-label {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(0, 0, 0);
}

.error-label {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(255, 0, 0);
}

.description-label {
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(75, 79, 82);
}

.chart-title {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}